@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-SemiBold.woff");
  font-weight: 600;
}

@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Black.woff");
  font-weight: 900;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #202020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.p-wrap {
  display: block;
  position: relative;
  width: 100%;
}

.p-top {
  display: block;
  position: relative;
  padding: 7px 0;
  background-color: #202020;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: block;
    margin: 0;
    color: #858585;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    a {
      color: #858585;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 0;
    color: #f8c805;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 0;
    color: #d4d4d4;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.p-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 0;
  z-index: 50;
  background-color: #131313;
  transition: all 0.2s ease-out;
  &_fixed {
    position: fixed !important;
    top: 0;
    background-color: #131313 !important;
  }
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__mob {
    display: none !important;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    img,
    svg {
      display: block;
      max-width: 55px;
      max-height: 55px;
    }
    &-text {
      display: block;
      margin: 0 0 0 22px;
      padding-left: 15px;
      border-left: 1px solid #929292;
      color: #979797;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      font-style: normal;
      letter-spacing: 0.4px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      position: relative;
      &:hover {
        & > a {
          border-bottom-color: #f8c805;
          color: #f8c805;
        }
        & > ul {
          display: block;
        }
      }
      & > a {
        display: inline-block;
        margin: 0 24px;
        padding: 6px 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        color: #ffffff;
        font-family: Akrobat;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: 0.45px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-bottom-color: #f8c805;
          color: #f8c805;
          text-decoration: none;
        }
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 24px;
      width: 278px;
      margin: 0;
      padding: 12px 0;
      list-style: none;
      background-color: #ededed;
      z-index: 9;
      li {
        display: block;
        width: 100%;
        a {
          display: block;
          width: 100%;
          padding: 8px 18px;
          color: #202020;
          font-family: Akrobat;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          line-height: normal;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            background: #f8c805;
            color: #202020;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__link {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-family: "Akrobat";
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.45px;
    i {
      margin-right: 10px;
      color: #f8c805;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.p-home-top {
  display: block;
  position: relative;
  width: 100%;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 150px 0;
      background-color: rgba(0, 0, 0, 0.65);
    }
    &__subtitle {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Akrobat";
      font-size: 70px;
      font-weight: 900;
      letter-spacing: 1.75px;
      line-height: normal;
    }
    &__title {
      display: block;
      margin: 0;
      color: #f8c805;
      font-family: "Akrobat";
      font-size: 100px;
      font-weight: 900;
      letter-spacing: 2.5px;
      line-height: normal;
    }
    &__text {
      display: block;
      max-width: 450px;
      margin: 25px 0 0 0;
      color: #ffffff;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: normal;
    }
    &__button {
      display: inline-block;
      position: relative;
      margin: 50px 0 0 0;
      padding: 7px 40px 17px 40px;
      background-color: #f8c805;
      color: #202020;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: normal;
      text-align: center;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        border-top: 10px solid #f8c805;
        border-left: 10px solid transparent;
        transform: rotate(180deg);
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        &:before,
        &:after {
          border-top-color: #f6d44c;
        }
        background: #f6d44c;
        color: #202020;
        text-decoration: none;
      }
    }
    &__price {
      display: block;
      margin: 30px 0 0 0;
      color: #f8c805;
      font-family: "Akrobat";
      font-size: 50px;
      font-weight: 900;
      letter-spacing: 1.25px;
    }
    &__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding-top: 70px;
    }
    &-card {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 200px;
      margin: 20px 0 0 0;
      &__image {
        display: flex;
        align-items: center;
        position: relative;
        width: 75px;
        height: 60px;
        img,
        svg {
          display: block;
          max-width: 100%;
          max-height: 100%;
          filter: brightness(0) invert(1);
          transition: all 0.2s ease-out;
        }
      }
      &__title {
        display: block;
        margin: 0 0 0 10px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.45px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .p-home-top-card-card__image {
          img,
          svg {
            filter: none;
          }
        }
        .p-home-top-card-card__title {
          color: #f8c805;
        }
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 30%;
    left: auto;
    right: calc((100vw - 1170px) / 2);
    width: 30px;
    height: 16px;
    outline: none;
    z-index: 8;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-bottom: 60px;
    background: url("../images/swiper_up.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 7px;
      height: 7px;
      margin-left: -3px;
      margin-top: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_down.png") no-repeat center center;
  }
  .swiper-pagination {
    counter-reset: my-awesome-counter;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: auto;
    height: auto;
    bottom: auto;
    top: 20%;
    left: auto;
    right: calc((100vw - 1170px) / 2);
    outline: none;
  }
  .swiper-pagination-bullet {
    position: relative;
    counter-increment: my-awesome-counter;
    width: 100px;
    padding-bottom: 45px;
    opacity: 1;
    background: transparent;
    outline: none;
    transition: all 0.2s ease-out;
    &:before {
      display: block;
      position: absolute;
      left: 0;
      content: "0" counter(my-awesome-counter);
      color: #ffffff;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: normal;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      right: 0;
      top: 12px;
      width: 70px;
      height: 2px;
      margin-left: 34px;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
    }
  }
  .swiper-pagination-bullet-active {
    width: 130px;
    &:before {
      color: #f8c805;
    }
    &:after {
      width: 100px;
      background-color: #f8c805;
    }
  }
}

.p-home-rent {
  display: block;
  position: relative;
  padding: 90px 0 40px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 550px;
    margin: 0 0 70px 0;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      align-items: flex-end;
      width: 100%;
      min-height: 300px;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.36);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .p-home-rent-card__title {
          margin-left: -5px;
          margin-bottom: -15px;
          font-family: "Akrobat";
          font-size: 70px;
          font-weight: 900;
          letter-spacing: 0.68px;
        }
        padding: 0;
        background: rgba(248, 200, 5, 0.9);
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Akrobat";
      font-size: 30px;
      font-weight: 900;
      letter-spacing: normal;
      line-height: normal;
      letter-spacing: 0.14px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__more {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    max-width: 550px;
    min-height: 300px;
    margin: 0 0 70px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.25px;
    img,
    svg {
      display: block;
      max-width: 100px;
      max-height: 100px;
      margin-left: 60px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: translateX(10px);
      }
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.p-home-new {
  display: block;
  position: relative;
  padding: 20px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
  }
  &__tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 25px 0;
    list-style: none;
  }
  &__tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 290px;
    min-height: 60px;
    padding: 4px 20px;
    border-right: 1px solid #8a8a8a;
    color: #7d7d7d;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-align: center;
    &_active {
      color: #ffffff !important;
      font-weight: 700;
    }
    &:last-child {
      border-right: 0;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &.current {
      color: #ffffff !important;
      font-weight: 700;
      img,
      svg {
        opacity: 1;
      }
    }
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 390px;
    &__image {
      display: block;
      width: 100%;
      height: 250px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 27px 0 10px 0;
      padding-right: 20px;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    &__price {
      display: block;
      margin: 0;
      padding-right: 20px;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.6px;
    }
    &__more {
      display: flex;
      align-items: center;
      margin: 24px 0 0 0;
      color: #f8c805;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &__arrow {
      display: block;
      width: 19px;
      height: 13px;
      margin-left: 10px;
      background: url("../images/arrow_right_long.png") no-repeat right center;
      background-size: auto 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-home-new-card__arrow {
        width: 70px;
      }
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 65px;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 16px;
    height: 30px;
    margin: 0;
    outline: none;
    z-index: 8;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 40px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      margin-top: -3px;
      margin-left: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-scrollbar {
    position: relative;
    width: 100%;
    max-width: 1030px;
    height: 3px;
    border-radius: 999rem;
    background: #565656;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: #ffffff;
  }
}

.p-home-consult {
  display: block;
  position: relative;
  padding: 80px 0;
  background-color: #202020;
  &_page {
    .p-home-consult__main {
      background: url("../images/recall.jpg") no-repeat center center !important;
      background-size: cover !important;
    }
  }
  &__main {
    display: block;
    position: relative;
    width: 100%;
    background: url("../images/home_consult_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 570px;
    min-height: 430px;
    padding: 75px 50px 70px 60px;
    background: rgba(248, 199, 5, 0.9);
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 18px 0;
    color: #202020;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 0;
      width: 176px;
      height: 2px;
      background-color: #202020;
    }
  }
  &__text {
    display: block;
    margin: 0 0 24px 0;
    color: #202020;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  label {
    display: block;
    margin: 0 0 8px 0;
    color: #202020;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 20px;
    border: 0;
    outline: none;
    background: url("../images/input_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
    color: #202020;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &__info {
    display: block;
    margin: 10px 0 0 0;
    opacity: 0.55;
    color: #202020;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.35px;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 7px 40px 17px 40px;
    border: 0;
    outline: none;
    background-color: #202020;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-top: 10px solid #202020;
      border-left: 10px solid transparent;
      transform: rotate(180deg);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(1.2);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-home-choose {
  display: block;
  position: relative;
  padding: 50px 0;
  background-color: #202020;
  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 440px;
    margin-top: 30px;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  label {
    display: block;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 50px 0 0 0;
    padding: 7px 84px 17px 84px;
    border: 0;
    outline: none;
    background-color: #f8c805;
    color: #202020;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-top: 10px solid #f8c805;
      border-left: 10px solid transparent;
      transform: rotate(180deg);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before,
      &:after {
        border-top-color: #f6d44c;
      }
      background: #f6d44c;
      color: #202020;
      text-decoration: none;
    }
  }
  &__group {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 430px;
    background: url("../images/group_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
    &-text {
      display: inline-block;
      margin: 4px 20px;
      color: #7d7d7d;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      white-space: nowrap;
    }
    &-line {
      display: inline-block;
      position: relative;
      margin: 9px 0;
      width: 1px;
      height: 41px;
      background-color: #464646;
    }
    input {
      display: inline-block;
      position: relative;
      border: 0;
      outline: none;
      width: 100%;
      background: transparent;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      text-align: center;
    }
  }
  &__select {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: transparent;
      background-image: none;
      width: 100%;
      padding: 20px 19px;
      color: #7d7d7d;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }
    display: inline-block;
    position: relative;
    width: 430px;
    background: url("../images/select_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-left: 13px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-home-what {
  display: block;
  position: relative;
  padding: 80px 0 20px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 0;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 20px auto;
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-family: "Akrobat";
      font-size: 40px;
      font-weight: 900;
      b,
      strong {
        color: #f8c805;
        font-size: 70px;
        letter-spacing: 1.75px;
        line-height: normal;
      }
    }
    &__text {
      display: block;
      margin: 0;
      color: #9c9c9c;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    sup {
      font-size: 24px;
    }
  }
}

.p-home-about {
  display: block;
  position: relative;
  padding: 30px 0 60px 0;
  background-color: #202020;
  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 45px auto;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
  &__content {
    display: block;
    position: relative;
    p {
      display: block;
      margin: 0 0 25px 0;
      color: #7d7d7d;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.4px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 35px auto 0 auto;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.25px;
    img,
    svg {
      display: block;
      max-width: 100px;
      max-height: 100px;
      margin-left: 70px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: translateX(20px);
      }
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.p-home-clients {
  display: block;
  position: relative;
  padding: 120px 0 90px 0;
  background-color: #f8c805;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 60px 0;
    color: #202020;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #202020;
      transform: translateX(-50%);
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 30px 0;
    &__image {
      display: block;
      width: 100%;
      height: 110px;
      img,
      svg {
        display: block;
        max-width: 85px;
        max-height: 85px;
      }
    }
    &__title {
      display: block;
      margin: 0 0 18px 0;
      color: #202020;
      font-family: Akrobat;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.6px;
    }
    &__text {
      display: block;
      margin: 0;
      color: #202020;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.4px;
    }
  }
}

.p-home-reviews {
  display: block;
  position: relative;
  padding: 110px 0 30px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: -54px 0 52px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-left: 13px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 170px;
    border: 3px solid #f8c805;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 240px;
      background-color: rgba(32, 32, 32, 0.9);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-home-reviews-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 65px;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 16px;
    height: 30px;
    margin: 0;
    outline: none;
    z-index: 8;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 40px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      margin-top: -3px;
      margin-left: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-scrollbar {
    position: relative;
    width: 100%;
    max-width: 1030px;
    height: 3px;
    border-radius: 999rem;
    background: #565656;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: #ffffff;
  }
}

.p-home-seo {
  display: block;
  position: relative;
  padding: 90px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    z-index: 3;
  }
  &__content {
    display: block;
    position: relative;
    height: 100px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #7d7d7d;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.4px;
    }
    &_active {
      height: auto;
    }
  }
  &__more {
    &_active {
      height: auto !important;
      margin-top: 20px !important;
      background: transparent !important;
    }
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 96px;
    margin-top: -80px;
    background-image: linear-gradient(to top, #202020 0%, rgba(32, 32, 32, 0) 100%);
    color: #f8c805;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.p-footer {
  display: block;
  position: relative;
  padding: 60px 0 30px 0;
  background-color: #333333;
  &__logo {
    display: block;
    margin: 0 0 40px 0;
    img,
    svg {
      display: block;
      max-width: 140px;
      max-height: 140px;
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    color: #545454;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
  }
  &__title {
    display: block;
    margin: 0 0 4px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0 0 17px 0;
    color: #858585;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    a {
      color: #858585;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  &_pad {
    padding-left: 30px;
  }
  &__nav {
    display: block;
    margin: 0 0 40px 0;
    padding: 6px 0 0 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 15px 0 0 0;
        color: #bababa;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #f8c805;
          text-decoration: none;
        }
      }
    }
  }
  &__link {
    display: block;
    margin: 14px 0 0 0;
    color: #f8c805;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding: 30px 0 0 0;
    a {
      display: inline-flex;
      align-items: center;
      padding: 5px 35px 5px 0;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  &__creators {
    display: block;
    margin: 50px 0 0 0;
    img,
    svg {
      display: block;
      margin: 0 0 8px 0;
    }
    color: #858585;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
}

.p-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f4f4f4;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    padding: 20px;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 18px 0;
    color: #202020;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 0;
      width: 176px;
      height: 2px;
      background-color: #202020;
    }
  }
  &__text {
    display: block;
    margin: 0 0 24px 0;
    color: #202020;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  label {
    display: block;
    margin: 0 0 8px 0;
    color: #202020;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  input {
    display: block;
    width: 100%;
    max-width: 425px;
    margin: 0 0 25px 0;
    padding: 20px;
    border: 0;
    outline: none;
    background: url("../images/modal_input_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
    color: #202020;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &__info {
    display: block;
    margin: 10px 0 0 0;
    opacity: 0.55;
    color: #202020;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.35px;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 7px 40px 17px 40px;
    border: 0;
    outline: none;
    background-color: #202020;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-top: 10px solid #202020;
      border-left: 10px solid transparent;
      transform: rotate(180deg);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(1.2);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-map {
  &__content {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 10px 0 0;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.19);
    border-radius: 999rem 0 0 999rem;
    background-color: #ffffff;
  }
  &__number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 0 !important;
    border-radius: 999rem;
    background-color: #f8c805;
    color: #202020;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
  }
  &__text {
    display: inline-block;
    margin: -8px 0 0 12px;
    color: #202020;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
}

.gm-style .gm-style-iw-d {
  z-index: 9;
}

.gm-style .gm-style-iw-c {
  height: 44px !important;
  left: -22px !important;
  top: 11px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  transform: none !important;
  &:before,
  &:after {
    display: none !important;
  }
}

.gm-style .gm-style-iw-t::after {
  display: none !important;
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
}

.p-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 6px 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Akrobat;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.38px;
  z-index: 5;
  a {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  li > span {
    display: inline-block;
    position: relative;
    margin: 5px 12px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #f8c805;
  }
}

.p-choose {
  display: block;
  position: relative;
  &__big {
    display: block;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__text {
    display: block;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  label {
    display: block;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 50px 0 0 0;
    padding: 7px 84px 17px 84px;
    border: 0;
    outline: none;
    background-color: #f8c805;
    color: #202020;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-top: 10px solid #f8c805;
      border-left: 10px solid transparent;
      transform: rotate(180deg);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before,
      &:after {
        border-top-color: #f6d44c;
      }
      background: #f6d44c;
      color: #202020;
      text-decoration: none;
    }
  }
  &__group {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 430px;
    background: url("../images/select_bg_light.png") no-repeat 0 0;
    background-size: 100% 100%;
    &-text {
      display: inline-block;
      margin: 4px 20px;
      color: #202020;
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.4px;
      white-space: nowrap;
    }
    &-line {
      display: inline-block;
      position: relative;
      margin: 9px 0;
      width: 1px;
      height: 41px;
      background-color: #202020;
    }
    input {
      display: inline-block;
      position: relative;
      border: 0;
      outline: none;
      width: 100%;
      background: transparent;
      color: #202020;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.4px;
      text-align: center;
    }
  }
  &__select {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: transparent;
      background-image: none;
      width: 100%;
      padding: 20px 19px;
      color: #202020;
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }
    display: inline-block;
    position: relative;
    width: 430px;
    background: url("../images/select_bg_light.png") no-repeat 0 0;
    background-size: 100% 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  &__tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding: 50px 0 70px 0;
  }
  &__tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 60px;
    padding: 4px 16px;
    border-right: 1px solid #8a8a8a;
    color: #7d7d7d;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-align: left;
    img,
    svg {
      display: block;
      max-width: 48px;
      max-height: 48px;
      margin-right: 8px;
      opacity: 0.5;
    }
    &_active {
      color: #ffffff !important;
      font-weight: 700;
      img,
      svg {
        opacity: 1;
      }
    }
    &:last-child {
      border-right: 0;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 60px auto 0 auto;
    &__image {
      display: block;
      width: 100%;
      height: 250px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 27px 0 10px 0;
      padding-right: 20px;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    &__price {
      display: block;
      margin: 0;
      padding-right: 20px;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.6px;
    }
    &__company {
      display: block;
      margin: 17px 0 0 0;
      color: #a0a0a0;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.45px;
    }
    &__more {
      display: flex;
      align-items: center;
      margin: 22px 0 0 0;
      color: #f8c805;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &__arrow {
      display: block;
      width: 19px;
      height: 13px;
      margin-left: 10px;
      background: url("../images/arrow_right_long.png") no-repeat right center;
      background-size: auto 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-choose-card__arrow {
        width: 70px;
      }
      text-decoration: none;
    }
  }
  &__load {
    display: block;
    position: relative;
    width: 100%;
    max-width: 253px;
    margin: 80px auto 100px auto;
    padding: 18px;
    background: url("../images/more_button_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-page-map {
  display: block;
  position: relative;
  width: 100%;
  &__map {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  &-popup {
    display: block;
    position: absolute;
    top: 60px;
    right: calc((100vw - 1200px) / 2);
    width: 500px;
    padding: 40px 35px;
    background-color: #ffffff;
    z-index: 6;
    &_short {
      max-width: 400px;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding-bottom: 22px;
    }
    &__what {
      display: block;
      margin: 14px 0 0 0;
      opacity: 0.5;
      color: #202020;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
    }
    &__object {
      display: block;
      margin: 5px 0 25px 0;
      color: #202020;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &__title {
      display: block;
      margin: 0;
      color: #202020;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.45px;
    }
    &__link {
      display: inline-block;
      margin: 0;
      color: #202020;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
    &__group {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 350px;
      margin-bottom: 20px;
      background: url("../images/map_filter_sort_bg.png") no-repeat 0 0;
      background-size: 100% 100%;
      &-text {
        display: inline-block;
        margin: 4px 20px;
        color: #7d7d7d;
        font-family: Akrobat;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        white-space: nowrap;
      }
      &-line {
        display: inline-block;
        position: relative;
        margin: 9px 0;
        width: 1px;
        height: 41px;
        background-color: #7d7d7d;
      }
      input {
        display: inline-block;
        position: relative;
        border: 0;
        outline: none;
        width: 100%;
        background: transparent;
        color: #202020;
        font-family: Akrobat;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        text-align: center;
      }
    }
    &__button {
      display: inline-block;
      position: relative;
      margin: 10px 0 0 0;
      padding: 7px 25px 17px 25px;
      border: 0;
      outline: none;
      background-color: #f8c805;
      color: #202020;
      font-family: Akrobat;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: normal;
      text-align: center;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        border-top: 10px solid #f8c805;
        border-left: 10px solid transparent;
        transform: rotate(180deg);
        transition: all 0.2s ease-out;
      }
      &_big {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        &:before,
        &:after {
          border-top-color: #f6d44c;
        }
        background: #f6d44c;
        color: #202020;
        text-decoration: none;
      }
    }
    &__header {
      display: block;
      position: relative;
      padding: 16px 0;
      opacity: 0.5;
      color: #202020;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    &__cards {
      display: block;
      position: relative;
      width: 100%;
      height: 400px;
    }
    &-item {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      & > .row {
        min-height: 56px;
      }
      &:last-child {
        border-bottom: 1px solid #f8c805;
      }
      border-top: 1px solid #f8c805;
      color: #202020;
      font-family: Akrobat;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.06;
      letter-spacing: 0.4px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: 0 1px 1px 1px #eeeeee;
        border-color: #eeeeee;
        background: #eeeeee;
        color: #202020;
        text-decoration: none;
        z-index: 2;
      }
    }
    &-card {
      display: block;
      position: relative;
      width: 100%;
      padding: 12px 0;
      border-top: 2px solid #f8c805;
      background: url("../images/icon_filter_right.png") no-repeat right 10px center;
      &:last-child {
        border-bottom: 2px solid #f8c805;
      }
      & > .row {
        min-height: 65px;
      }
      &__what {
        display: block;
        margin: 0 0 1px 0;
        padding-left: 10px;
        color: #202020;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.3px;
      }
      &__title {
        display: block;
        margin: 0;
        padding-left: 10px;
        color: #202020;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.45px;
      }
      &__count {
        display: block;
        width: 100%;
        margin: 0;
        color: #202020;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.45px;
        text-align: right;
      }
      &__number {
        display: block;
        position: relative;
        color: #202020;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.45px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: 0 2px 2px 2px #eeeeee;
        border-color: #eeeeee;
        background: #eeeeee url("../images/icon_filter_right.png") no-repeat right 10px center;
        text-decoration: none;
        z-index: 2;
      }
    }
  }
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  opacity: 1 !important;
  background: #565656;
}

.simplebar-track.simplebar-vertical {
  width: 3px !important;
  background: rgba(86, 86, 86, 0.3);
}

.p-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 60px;
      flex: 1 1 auto;
      padding: 4px 25px;
      border-right: 1px solid #8a8a8a;
      color: #7d7d7d;
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.45px;
      text-align: left;
      img,
      svg {
        display: block;
        max-width: 48px;
        max-height: 48px;
        margin-right: 8px;
        opacity: 0.5;
      }
      &_active {
        color: #ffffff !important;
        font-weight: 700;
        img,
        svg {
          opacity: 1;
        }
      }
      &:last-child {
        border-right: 0;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
      &.current {
        color: #ffffff !important;
        font-weight: 700;
        img,
        svg {
          opacity: 1;
        }
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 60px 0 0 0;
    &.current {
      display: block;
    }
  }
}

.p-object {
  display: block;
  position: relative;
  &-description {
    padding-bottom: 40px;
    &__title {
      display: block;
      position: relative;
      margin: 0 0 50px 0;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 0;
        width: 176px;
        height: 2px;
        background-color: #f8c805;
      }
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #a0a0a0;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      font-weight: 300;
      letter-spacing: 0.45px;
    }
  }
  &-map {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
  }
  &-gallery {
    display: block;
    position: relative;
    padding-bottom: 100px;
    &__cards {
      display: block;
      padding-bottom: 100px;
    }
    &__big {
      display: block;
      position: relative;
      max-width: 100%;
      margin: 0 auto 100px auto;
    }
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 570px;
      background-position: center center;
      background-size: cover;
      img,
      svg {
        display: block;
        max-width: 86px;
        max-height: 86px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: scale(0.9);
        }
        color: #f8c805;
        text-decoration: none;
      }
    }
    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 570px;
      margin: 0 auto 30px auto;
      background-position: center center;
      background-size: cover;
      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 195px;
        border: 3px solid #f8c805;
        background-color: rgba(32, 32, 32, 0.9);
        opacity: 0;
        img,
        svg {
          display: block;
          max-width: 50px;
          max-height: 50px;
        }
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .p-object-gallery-card__content {
          opacity: 1;
        }
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  &-view {
    display: block;
    position: relative;
    padding-bottom: 100px;
    &__overflow {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 70px 0;
      overflow-x: auto;
    }
    &__view {
      display: block;
      position: relative;
      width: 1170px;
      height: 460px;
      background-position: 0 0;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__number {
      display: block;
      position: absolute;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: normal;
      line-height: 1;
      transition: all 0.2s ease-out;
      cursor: default;
      &.current {
        color: #f8c805 !important;
      }
    }
    &__big {
      display: block;
      max-width: 100%;
      margin: 0 0 70px 0;
    }
    &__title {
      display: block;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
    }
    &-card {
      display: block;
      margin: 0;
      color: #a0a0a0;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 2;
      letter-spacing: 0.45px;
      &.current {
        a {
          color: #f8c805 !important;
        }
      }
      a {
        color: #a0a0a0;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
          color: #f8c805;
          text-decoration: underline;
        }
      }
    }
  }
  &-cards {
    display: block;
    position: relative;
    &__title {
      display: block;
      position: relative;
      margin: 0;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1.25px;
      text-align: center;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: -10px;
        left: 50%;
        width: 176px;
        height: 2px;
        background-color: #f8c805;
        transform: translateX(-50%);
      }
    }
  }
  &-residents {
    display: block;
    position: relative;
    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 370px;
      margin: 0 0 75px 0;
      &__image {
        display: block;
        position: relative;
        width: 100%;
        height: 100px;
        img,
        svg {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__what {
        display: block;
        margin: 26px 0;
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
      }
      &__text {
        display: block;
        margin: 0;
        color: #a0a0a0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.45px;
      }
    }
  }
  &-info {
    display: block;
    position: relative;
    padding-bottom: 100px;
    &__hr {
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      margin: 20px 0 60px 0;
      background-color: #464646;
      &_small {
        margin: -10px 0 30px 0;
      }
    }
    &__title {
      display: block;
      margin: 0 0 55px 0;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.75px;
    }
    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 415px;
      margin: 0 0 40px 0;
      &__title {
        display: block;
        margin: 0 0 14px 0;
        color: #a0a0a0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.45px;
      }
      &__text {
        display: block;
        margin: 0;
        color: #ffffff;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.5px;
        a {
          color: #ffffff;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            color: #f8c805;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.p-lk {
  display: block;
  position: relative;
  img,
  svg {
    max-width: 100%;
  }
  &__big {
    display: block;
    margin: 30px 0 60px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.25px;
    text-align: center;
    &_top {
      margin-top: 100px;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    display: block;
    margin: 25px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
  }
  &__tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #202020;
    z-index: 4;
  }
  &__tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 165px;
    min-height: 60px;
    flex: 1 1 auto;
    padding: 4px 6px;
    border-right: 1px solid #8a8a8a;
    color: #7d7d7d;
    font-family: Akrobat;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.45px;
    text-align: center;
    a {
      color: #7d7d7d;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
    &_active {
      color: #ffffff !important;
      font-weight: 700;
    }
    &:last-child {
      border-right: 0;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      a {
        color: #f8c805;
        text-decoration: none;
      }
      color: #f8c805;
      text-decoration: none;
    }
    &.active {
      color: #ffffff !important;
      a {
        color: #ffffff !important;
      }
    }
  }
  &__content {
    display: block;
    padding-bottom: 70px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    letter-spacing: 0.45px;
  }
  &__rules {
    display: block;
    position: relative;
    padding: 120px 0 100px 0;
    background-color: #333333;
    img,
    svg {
      display: block;
      max-width: 100%;
      margin: 0 auto 20px auto;
    }
  }

  .table tr:first-child {
    td,
    th {
      border: 0;
    }
  }

  .table-responsive {
    margin-bottom: 60px;
    padding: 30px;
    background: #333333;
  }

  .table td,
  .table th {
    padding: 16px 4px;
    border-top-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    b,
    strong {
      font-weight: 500;
    }
  }

  .table thead th {
    padding: 16px 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #a0a0a0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.45px;
  }
}

.p-table {
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #a0a0a0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.45px;
  }
}

.p-form {
  display: block;
  position: relative;
  padding: 130px 0 90px 0;
  background-color: #202020;
  label {
    display: block;
    margin: 0 0 8px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  ::placeholder {
    color: #202020;
  }
  input {
    display: block;
    width: 100%;
    max-width: 580px;
    margin: 0 0 25px 0;
    padding: 20px;
    border: 0;
    outline: none;
    background: url("../images/lk_input_shorter.png") no-repeat 0 0;
    background-size: 100% 100%;
    color: #202020;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &_textarea {
    display: block;
    width: 100%;
    max-width: 580px;
    min-height: 170px;
    max-height: 170px;
    margin: 0 0 25px 0;
    padding: 20px;
    border: 0;
    outline: none;
    max-width: 580px !important;
    background: url("../images/lk_textarea.png") no-repeat 0 0 !important;
    background-size: 100% 100%;
    color: #202020;
    font-family: Akrobat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &_long {
    max-width: 100% !important;
    background: url("../images/lk_input_long.png") no-repeat 0 0 !important;
  }
  &_short {
    max-width: 380px !important;
    background: url("../images/lk_input_shorter.png") no-repeat 0 0 !important;
  }
  &__info {
    display: block;
    margin: 17px 0 0 0;
    opacity: 0.4;
    color: #a0a0a0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.35px;
    text-align: center;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 245px;
    margin: 30px auto 0 auto;
    padding: 7px 40px 17px 40px;
    border: 0;
    outline: none;
    background-color: #f8c805;
    color: #202020;
    font-family: Akrobat;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      border-top: 10px solid #f8c805;
      border-left: 10px solid transparent;
      transform: rotate(180deg);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before,
      &:after {
        border-top-color: #f6d44c;
      }
      background: #f6d44c;
      color: #202020;
      text-decoration: none;
    }
  }
}

.p-docs {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 0 0 20px 0;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 95px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-width: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
    }
    &__link {
      display: block;
      margin: 20px 0 0 0;
      color: #f8c805;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
}

.p-about {
  display: block;
  position: relative;
  padding: 100px 0;
  background-color: #2a2a2a;
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    position: relative;
    margin: 10px 0 18px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 0;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
    }
  }
  &__content {
    display: block;
    p {
      display: block;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.45px;
    }
  }
}

.p-wins {
  display: block;
  position: relative;
  padding: 110px 0 30px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: -74px 0 52px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-left: 13px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 280px;
    border: 3px solid #f8c805;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 240px;
      background-color: rgba(32, 32, 32, 0.9);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-wins-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 65px;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 16px;
    height: 30px;
    margin: 0;
    outline: none;
    z-index: 8;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 40px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      margin-top: -3px;
      margin-left: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-scrollbar {
    position: relative;
    width: 100%;
    max-width: 1030px;
    height: 3px;
    border-radius: 999rem;
    background: #565656;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: #ffffff;
  }
}

.p-photos {
  display: block;
  position: relative;
  padding: 110px 0 30px 0;
  background-color: #202020;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: -54px 0 52px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-left: 13px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 390px;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 250px;
      border: 3px solid #f8c805;
      background-color: rgba(32, 32, 32, 0.9);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-photos-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 65px;
  }
  .swiper-slide {
    width: 390px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 16px;
    height: 30px;
    margin: 0;
    outline: none;
    z-index: 8;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 40px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      margin-top: -3px;
      margin-left: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-scrollbar {
    position: relative;
    width: 100%;
    max-width: 1030px;
    height: 3px;
    border-radius: 999rem;
    background: #565656;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: #ffffff;
  }
}

.p-page-news {
  display: block;
  position: relative;
  padding: 110px 0 30px 0;
  background-color: #202020;
  .p-choose-card__title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.45px;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 50%;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
      transform: translateX(-50%);
    }
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.45px;
    text-align: center;
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: -60px 0 0 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.4px;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-left: 13px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 280px;
    border: 3px solid #f8c805;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 240px;
      background-color: rgba(32, 32, 32, 0.9);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-page-news-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 65px;
  }
  .swiper-slide {
    width: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 16px;
    height: 30px;
    margin: 0;
    outline: none;
    z-index: 8;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    margin-right: 40px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      margin-top: -3px;
      margin-left: 36px;
      border-radius: 999rem;
      background-color: #f8c805;
    }
  }
  .swiper-button-next {
    background: url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-scrollbar {
    position: relative;
    width: 100%;
    max-width: 1030px;
    height: 3px;
    border-radius: 999rem;
    background: #565656;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    background-color: #ffffff;
  }
}

.p-article {
  display: block;
  position: relative;
  width: 100%;
  &__prep {
    display: block;
    position: relative;
    padding: 90px 0 75px 0;
    background-color: #2a2a2a;
    p {
      display: block;
      margin: 0 0 25px 0;
      color: #a0a0a0;
      font-family: Roboto;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 300;
      letter-spacing: 0.45px;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__content {
    display: block;
    position: relative;
    padding: 90px 0 20px 0;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-family: Akrobat;
      font-weight: 700;
    }
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    p {
      display: block;
      margin: 10px 0 30px 0;
      color: #a0a0a0;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.45px;
    }
    img {
      display: block;
      max-width: 100%;
      margin: 30px auto;
    }
    ul {
      display: block;
      position: relative;
      margin: 30px 0;
      padding: 0 0 0 35px;
      list-style: none;
      li {
        display: block;
        position: relative;
        color: #a0a0a0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 1.5;
        letter-spacing: 0.45px;
        &:before {
          content: "- ";
        }
      }
    }
    blockquote {
      display: block;
      position: relative;
      margin: 30px auto;
      padding: 55px 60px;
      background: #f8c805 url("../images/quote_bg.jpg") no-repeat center center;
      background-size: cover;
      color: #202020;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
  .table td,
  .table th {
    border-top: 0;
    border-bottom: 3px solid #333333;
    padding: 18px 4px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-align: center;
  }
  .table thead th {
    padding: 18px 4px;
    background: #333333;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-align: center;
  }
}

.p-contacts {
  display: block;
  position: relative;
  padding: 80px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 55px 0;
    color: #ffffff;
    font-family: Akrobat;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.25px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -10px;
      left: 0;
      width: 176px;
      height: 2px;
      background-color: #f8c805;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #7d7d7d;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.45px;
  }
  &__info {
    display: block;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.5px;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f8c805;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.33;
    text-decoration: underline;
    letter-spacing: 0.45px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f8c805;
      text-decoration: none;
    }
  }
  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .p-wrap_absolute {
    position: absolute;
    top: 0;
    z-index: 9;
    .p-header {
      background: transparent !important;
      &_fixed {
        background-color: #131313 !important;
      }
    }
  }
  .p-lk__tabs {
    &_fixed {
      position: fixed !important;
      top: 61px;
      left: 0;
      width: 100%;
      z-index: 49;
    }
  }
}

@media (max-width: 1199px) {
  .p-top {
    display: none;
  }
  .p-header__nav {
    display: none;
  }
  .p-header__link {
    display: none;
  }
  .p-header__logo-text {
    display: none;
  }
  .p-header__logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .p-header__mob {
    display: block !important;
    padding: 4px 0 4px 4px;
  }
  .p-home-choose__row {
    & > div {
      width: 100%;
    }
  }
  .p-home-choose__select {
    width: 100%;
    max-width: 430px;
  }
  .p-home-choose__group {
    width: 100%;
    max-width: 430px;
  }
  .p-home-about__link {
    font-size: 32px;
  }
  .p-home-about__link img,
  .p-home-about__link svg {
    max-width: 32x;
    max-height: 32px;
    margin-left: 20px;
  }
  .p-header__nav > li:hover > ul {
    display: none;
  }
  .p-header__nav {
    width: 100%;
    text-align: center;
  }
  .p-header__nav > li {
    display: block;
    width: 100%;
    a {
      display: block;
      width: 100%;
      margin: 0;
      padding: 8px;
      text-align: center;
    }
  }
  .p-top {
    & > .container {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .p-header__link {
    margin: 10px auto;
  }
  .p-home-top-card__content {
    padding: 40px 0;
  }
  .p-home-top-card__subtitle {
    font-size: 40px;
  }
  .p-home-top-card__title {
    font-size: 50px;
  }
  .p-home-top-card__text {
    font-size: 18px;
  }
  .p-home-rent__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .p-home-rent {
    padding: 30px 0;
  }
  .p-home-rent-card {
    margin: 0 auto 10px auto;
  }
  .p-home-rent__more {
    min-height: auto;
    margin-bottom: 20px;
    font-size: 32px;
    img,
    svg {
      max-width: 32x;
      max-height: 32px;
      margin-left: 20px;
    }
  }
  .p-home-new__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .p-home-new__tab {
    border: 0;
  }
  .p-home-new .swiper-scrollbar {
    max-width: 70%;
  }
  .p-home-new-card {
    padding: 0 20px;
  }
  .p-home-consult {
    padding: 30px 0;
  }
  .p-home-consult__content {
    padding: 20px;
  }
  .p-home-choose {
    padding: 30px 0;
  }
  .p-home-choose label {
    margin-top: 10px;
  }
  .p-home-choose__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .p-home-choose__text {
    margin-bottom: 20px;
  }
  .p-home-choose__button {
    margin-top: 30px;
  }
  .p-home-what {
    padding: 30px 0;
  }
  .p-home-clients {
    padding: 30px 0;
  }
  .p-home-clients__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .p-home-reviews {
    padding: 30px 0;
  }
  .p-home-reviews__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .p-home-reviews__link {
    margin: 20px 0;
  }
  .p-home-reviews-card {
    margin: 0 auto;
  }
  .p-home-reviews__centered {
    padding-top: 30px;
  }
  .p-home-reviews .swiper-scrollbar {
    max-width: 70%;
  }
  .p-home-seo {
    padding: 30px 0;
  }
  .p-footer {
    padding: 30px 0;
  }
  .p-footer_pad {
    padding: 0;
  }
  .p-footer__social {
    margin: 0;
    padding: 30px 0;
  }
  .p-choose__big {
    margin: 0;
    font-size: 38px;
  }
  .p-choose__tab {
    border: 0;
  }
  .p-choose__select {
    width: 100%;
    max-width: 430px;
  }
  .p-choose__group {
    width: 100%;
    max-width: 430px;
  }
  .p-choose__row {
    & > div {
      width: 100%;
    }
  }
  .p-choose label {
    margin-top: 20px;
  }
  .p-choose__tabs {
    padding: 30px 0;
  }
  .p-choose-card {
    margin-top: 40px;
  }
  .p-choose__load {
    margin: 30px auto;
  }
  .p-page-map-popup {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .p-page-map-popup-card__count {
    text-align: center;
  }
  .p-page-map-popup-card__number {
    padding-right: 20px;
    text-align: center;
  }
  .p-tabs__header li {
    width: 100%;
    min-height: auto;
    padding: 8px 16px;
    border: 0;
  }
  .p-tabs {
    padding: 0;
  }
  .p-object-description__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .p-object-gallery__big {
    margin-bottom: 40px;
  }
  .p-object-gallery__cards {
    padding-bottom: 40px;
  }
  .p-object-gallery__video {
    height: 350px;
  }
  .p-object-gallery {
    padding-bottom: 40px;
  }
  .p-home-top-card__price {
    margin: 20px 0;
    font-size: 32px;
  }
  .p-home-top-card__cards {
    padding-top: 10px;
  }
  .p-object-info__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .p-object-info__hr {
    margin: 10px 0 30px 0;
  }
  .table-responsive {
    padding: 5px;
  }
  .table td,
  .table th {
    font-size: 16px;
  }
  .p-table__title {
    font-size: 16px;
  }
  .p-lk__tab {
    width: 100%;
    max-width: 100%;
    border: 0;
    text-align: center;
  }
  .p-lk__big {
    margin: 20px 0;
    font-size: 42px;
  }
  .p-lk__title {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  .p-lk__subtitle {
    margin: 20px 0;
    font-size: 30px;
  }
  .p-lk__tabs {
    padding: 20px 0 40px 0;
  }
  .p-lk__rules {
    padding: 30px 0;
  }
  .p-lk__content {
    padding-bottom: 30px;
  }
  .p-form {
    padding: 30px 0;
  }
  .p-wins {
    padding: 30px 0;
  }
  .p-wins__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .p-wins__link {
    margin: 20px 0;
  }
  .p-wins-card {
    margin: 0 auto;
  }
  .p-wins__centered {
    padding-top: 30px;
  }
  .p-wins .swiper-scrollbar {
    max-width: 70%;
  }
  .p-photos {
    padding: 30px 0;
  }
  .p-photos__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .p-photos__link {
    margin: 20px 0;
  }
  .p-photos-card {
    margin: 0 auto;
  }
  .p-photos__centered {
    padding-top: 30px;
  }
  .p-photos .swiper-scrollbar {
    max-width: 70%;
  }
  .p-about {
    padding: 30px 0;
  }
  .p-about img,
  .p-about svg {
    margin: 0 auto 20px auto;
  }
  .p-wins__link {
    justify-content: center;
  }
  .p-page-news {
    padding: 30px 0;
    .p-choose-card {
      margin: 0 auto;
    }
  }
  .p-page-news__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .p-page-news__link {
    justify-content: center;
    margin: 20px 0;
  }
  .p-page-news-card {
    margin: 0 auto;
  }
  .p-page-news__centered {
    padding-top: 30px;
  }
  .p-page-news .swiper-scrollbar {
    max-width: 70%;
  }
  .p-home-reviews__link {
    justify-content: center;
  }
  .p-article__prep {
    padding: 30px 0 10px 0;
  }
  .p-article__content {
    padding: 30px 0;
  }
  .p-article__content blockquote {
    padding: 20px;
  }
  .p-contacts {
    padding: 40px 0;
  }
  .p-contacts__title {
    margin-bottom: 20px;
    font-size: 42px;
  }
  .p-lk__tabs {
    position: relative;
  }
}
